@tailwind base;
@tailwind components;
@tailwind utilities;

form {
  margin: auto;
}

input,
textarea {
  @apply outline-none border-b-2 border-gray-300 px-1 w-4/6 bg-slate-200;
  @apply mb-4;
}

.input-container {
  position: relative;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transition: all 0.3s ease-in-out;
}

input:focus,
textarea:focus {
  @apply border-b-slate-50;
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  transform: translateY(-1.25em) scale(0.75);
}

h2 {
  @apply text-black mb-4 text-xl;
}
